@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}

.react-toastify__toast--error {
  background-color: #d32f2f !important;
  color: white;
}

.react-toastify__toast--success {
  background-color: #388e3c !important;
  color: white;
}